.grey-bar {
	background: #f3f3f3;
	padding: 5px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $dark-grey;
	font-size: 14px;
	z-index: 3;

	position: fixed;
	top: 0;
	width: 100%;

	&.static {
		position: static;
	}

	.left-part,
	.right-part {
		display: flex;
		align-items: center;
	}

	height: 35px;

	color: $text-grey;

	.btn-link,
	a {
		&,
		&:link {
			color: $text-grey;
		}

		&,
		&:not([href]):not([tabindex]) {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		&:hover {
			cursor: pointer;
			text-decoration: none;
		}
	}

	.left-part {
		.rotating {
			display: block;
			text-align: center;
			position: relative;
			width: 165px;

			.phone {
				position: absolute;
				top: -9px;
				left: 0;
				right: 0;
				padding-right: 0;

				a {
					text-align: center;
					width: 100%;
				}
			}

			> .callback {
				position: absolute;
				top: -9px;
				left: 5px;
				right: 0;
				margin-left: 0;

				> .callback {
					text-align: center;
					width: 100%;
				}
			}

			.callback {
				font-size: 16px;
				text-decoration: underline;
				margin-left: 15px;
			}
		}

		.phone {
			font-size: 1.1em;

			@media all and (max-width: 320px) {
				font-size: 1em;
			}

			font-weight: bold;
			padding-right: 10px;
		}
	}
}

/* MOBILE */
@media all and(max-width: $screen-md) {
	.grey-bar {
		height: auto;
		min-height: 30px;
		padding: 3px 5px;

		.left-part {
			> .callback {
				display: none;
			}
		}

		.right-part {
			padding-right: 15px;
		}
	}

}

