.main-page-warning {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;

	text-align: center;
	padding: 10px;

	@media all and (max-width: $screen-md) {
		top: 10px;
		left: 10px;
		right: 10px;
	}

	background: #FFF200;
	border: 2px solid #2D3436;

	.title {
		font-weight: bold;
		font-size: 18px;
	}

	.description {
		font-weight: normal;
		font-size: 16px;
	}


}
