
.cms-block{

	.cms-form{
		#search-form{

			.search-button{
				display: none !important;
			}

			.form-row{
				&.airports{
					.form-control-block:not(.icon){
						width: 50%;
					}
				}
				&.date_options{
					.form-control-block{
						width: 22.5%;
					}
				}
			}

		}
	}

}